.health-status-cards {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 10.5rem;
  justify-content: flex-end;
}

.health-card {
  background-color: #f7fafe;
  border-radius: 25px;
  padding: 0.8rem;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  position: relative;
  margin-left: 1.5rem;
  cursor: pointer;
}

.top-row {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.health-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.health-label {
  font-size: 1rem;
  color: #0b0b4c;
  margin: 0;
}

.health-date {
  font-size: 0.7rem;
  color: #969aa2;
  margin: 0;
  margin-left: 0.3rem;
}

.status-indicator {
  background-color: #e5e7eb;
  border-radius: 999px;
  width: 100%;
  height: 8px;
  overflow: hidden;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.status-indicator::before {
  content: "";
  display: block;
  height: 100%;
  border-radius: 999px;
  transition: width 0.3s ease;
}

.status-indicator.normal::before {
  width: 80%;
  background-color: #75c4b4;
}

.status-indicator.warning::before {
  width: 80%;
  background-color: #9a3939;
}

.status-indicator.critical::before {
  width: 80%;
  background-color: #f77458;
}

.see-all {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #2b1c93;
  font-size: small;
  gap: 0.3rem;
  cursor: pointer;
  margin-top: 0.3rem;
  
}
.arrow-icon {
  color: #2b1c93;
}
