.dashboard-overview {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.overview-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.left-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-section {
  display: flex;
  flex-direction: row; 
  gap: 1.5rem;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #f9fafb;
  height: fit-content;
  box-sizing: border-box;
  margin-right: 0;
}

